<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="MongoKeyValueClient_ConnStr" value="mongodb://127.0.0.1"/>
    <add key="MongoKeyValueClient_Database" value="MongoKeyValueTest"/>
    <add key="MongoKeyValueClient_Collection" value="CacheData"/>
    <add key="MongoKeyValueClient_CompressionEnabled" value="1"/>
    <add key="MongoKeyValueClient_SerializeProtoBuff" value="0" />
  </appSettings>
  </configuration>
