<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="MongoKeyValueClient_ConnStr" value="mongodb://localhost"/>
    <add key="MongoKeyValueClient_Database" value="MongoKeyValueTest"/>
    <add key="MongoKeyValueClient_Collection" value="CacheData"/>
    <add key="MongoKeyValueClient_CompressionEnabled" value="1"/>
  </appSettings>
  </configuration>
