<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="MongoKeyValueClient_ConnStr" value="mongodb://127.0.0.1/TazzyCache?slaveOk=true;maxpoolsize=200;waitQueueTimeout=1000ms;safe=true;fsync=false"/>
    <add key="MongoKeyValueClient_Database" value="TestCache"/>
    <add key="MongoKeyValueClient_Collection" value="CacheData"/>
    <add key="MongoKeyValueClient_CompressionEnabled" value="1"/>
  </appSettings>
  </configuration>
