<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--Cache -->
    <add key="MongoKeyValueClient_ConnStr" value="mongodb://10.0.1.239,10.0.1.93,10.0.1.163/?replicaSet=dingusSet;slaveOk=true;maxpoolsize=20;waitQueueTimeout=1000ms;safe=true;fsync=false;w=2"/>
    <add key="MongoKeyValueClient_Database" value="DEV"/>
    <add key="MongoKeyValueClient_Collection" value="CacheData"/>
    <add key="MongoKeyValueClient_CompressionEnabled" value="1"/>
    <add key="MongoKeyValueClient_SerializeProtoBuf" value="1" />
    <!-- Fin Cache -->
    <add key ="MongoKeyValueClient_ShowSizes" value="0"/>
    <!-- JSON or XML-->
    <add key="ObjectViewerMode" value="XML"/>
    <!-- Fin Cache -->
  </appSettings>
  <startup>
  </startup>
<runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.InteropServices.RuntimeInformation" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
