<?xml version="1.0"?>
<configuration>
  <appSettings>   
    <add key="MongoKeyValueClient_ConnStr" value="mongodb://127.0.0.1/?slaveOk=true;maxpoolsize=200;waitQueueTimeout=1000ms;safe=true;fsync=false"/>
    <add key="MongoKeyValueClient_Database" value=""/>
    <add key="MongoKeyValueClient_Collection" value="CacheData"/>
    <add key="MongoKeyValueClient_CompressionEnabled" value="1"/>
    <add key ="MongoKeyValueClient_ShowSizes" value="0"/>    
    <!-- JSON or XML-->
    <add key="ObjectViewerMode" value="XML"/>
    <!-- Fin Cache -->
  </appSettings>
  <startup>
  </startup>
</configuration>
