<?xml version="1.0"?>

<configuration>
  <appSettings>
    <!--Cache -->
    <add key="MongoKeyValueClient_ConnStr"
         value="mongodb://192.168.1.218:27017,192.168.1.216:27017/TazzyCache?replicaSet=devSet;slaveOk=true;maxpoolsize=200;waitQueueTimeout=1000ms;safe=true;fsync=false" />
    <add key="MongoKeyValueClient_Database" value="TazzyCache" />
    <add key="MongoKeyValueClient_Collection" value="CacheData" />
    <add key="MongoKeyValueClient_CompressionEnabled" value="1" />
    <add key="PrefixCollection" value="TESTHOTEL" />
    <!-- JSON or XML-->
    <add key="ObjectViewerMode" value="JSON" />
    <!-- Fin Cache -->
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>